:root {
  --color-secondary: #3d00b7;
  --color-heading: #000;
  --color-content: #4f33a3;
  --color-body: #696969;
  --color-normal: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/*Typography */
html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: var(--color-body);
}

h1,
h2,
h3 {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-heading);
}

h1 {
  font-size: 4.8 rem;
  margin-bottom: 2.2rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

/* Link */
a {
  text-decoration: none;
}

/* Button */
.btn {
  border-radius: 40px;
  border: none;
  cursor: pointer;
  outline: 0;
  padding: 2rem 4rem;
  text-align: center;
  white-space: nowrap;
  font-weight: 500;
  align-self: center;
  margin-right: 0;
}

.btn--small {
  font-size: 1.4rem;
  padding: 1.4rem 2rem;
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: var(--color-normal);

  border: 2px solid var(--color-secondary);
  transition: background-color 0.3s, border 0.3s;
}

.btn--secondary:hover {
  background: #00e8eb;
  border-color: #00e8eb;
}

.btn--normal {
  background-color: var(--color-normal);
  border: 2px solid var(--color-secondary);
  color: #220970;
}

.btn--normal:hover {
  background-color: #dcdcdc;
}

.btn--categories {
  padding: 1rem 2rem;
}

.btn--categories-normal {
  background-color: #dcdcdc;
  padding: 1rem 2rem;
  color: var(--color-heading);
  transition: background-color 0.3s;
}

.btn--categories-normal:hover {
  background-color: #e6d8d8;
}

/* Icon */
.icon {
  width: 24px;
  height: 24px;
}
.icon--normal {
  fill: #757575;
}

.icon--green {
  fill: #00ac4f;
}
.icon--black {
  fill: #000;
}
/* Input */
.input {
  border-radius: 100px;
  /* border: 1px solid #efefef; */
  font-size: 1.6rem;
  font-family: "DM Sans";
  outline: 0;
  padding: 1.5rem 3rem;
  margin: 0;
}
::placeholder {
  color: #c0c0c0;
}
.input-group {
  width: 30rem;
  height: 5rem;
  border: 2px solid #efefef;
  border-radius: 100px;
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
.input-group .input {
  border: none;
  flex-grow: 1;
  padding: 1.5rem 2.5rem;
  width: auto;
}
.input-group .icon {
  margin-right: 20px;
}

.input-group .btn {
  background-color: #2639ed;
  transition: none;
  margin-right: 7px;
}
.grid {
  display: grid;
}
.grid--1x2 {
  grid-template-columns: auto 1fr;
}
.grid--1x3 {
  grid-template-columns: repeat(3, 1fr);
}

.list {
  list-style: none;
  padding-left: 0;
}
.container {
  width: 1446px;
  margin: 0 auto;
}
.container--nav {
  border-bottom: 1px solid #efefef;
}
.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  /* padding: 0 1rem; */
  align-items: center;
  margin: auto 12rem;

  height: 10rem;
}

.nav__brand h3 {
  margin: 0;
}
.nav__menu {
  display: flex;
}
.nav__list {
  width: 100%;
  margin: 0;
  width: auto;
  font-size: 1.6rem;
  display: flex;
  max-height: 100%;
  opacity: 1;
  font-weight: 500;
}
.nav__item {
  margin: 0.5rem 4.7rem 0.5rem 0;
}
.nav__item > a {
  color: #000;
  transition: color 0.3s;
}
.nav__item > a:hover {
  color: #442e2e;
}
.nav__search {
  display: flex;
  justify-content: flex-start;
  max-height: 100%;
}
.nav .btn {
  font-size: 1.4rem;
  font-weight: 700;
  height: 5rem;
  text-align: center;
  padding: 1.8rem 4rem;
  line-height: 100%;
}
.nav__list-container {
  padding-left: 35px;
  margin-left: 31px;
  border-left: 1px solid #efefef;
}
