@import "../font/IntegralCF-Bold/style.css";
:root {
  --color-secondary: #3d00b7;
  --color-heading: #000;
  --color-content: #4f33a3;
  --color-body: #696969;
  --color-normal: #fff;
  --color--background: rgba(220, 220, 220, 0.2);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/*Typography */
html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-heading);
}

h1 {
  font-family: "Integral CF";
  font-size: 4.8rem;
  margin-bottom: 2.2rem;
}

h2 {
  font-family: "Integral CF";
  font-size: 2.8rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

/* Link */
a {
  text-decoration: none;
}

/* Button */
.btn {
  border-radius: 40px;
  border: none;
  cursor: pointer;
  outline: 0;
  padding: 2rem 4rem;
  text-align: center;
  white-space: nowrap;
  font-weight: 500;
  align-self: center;
  margin-right: 0;
}

.btn--small {
  font-size: 1.4rem;
  padding: 1.4rem 2rem;
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: var(--color-normal);

  border: 2px solid var(--color-secondary);
  transition: background-color 0.3s, border 0.3s;
}

.btn--secondary:hover {
  background: #00e8eb;
  border-color: #00e8eb;
}

.btn--normal {
  background-color: var(--color-normal);
  border: 2px solid var(--color-secondary);
  color: #220970;
}

.btn--normal:hover {
  background-color: #dcdcdc;
}

.btn--categories {
  padding: 1rem 2rem;
}

.btn--categories-normal {
  background-color: #dcdcdc;
  padding: 1rem 2rem;
  color: var(--color-heading);
  transition: background-color 0.3s;
}

.btn--categories-normal:hover {
  background-color: #e6d8d8;
}

/* Icon */
.icon {
  width: 24px;
  height: 24px;
}

.icon--normal {
  fill: #757575;
}

.icon--green {
  fill: #00ac4f;
}

.icon--black {
  fill: #000;
}

/* Input */
.input {
  border-radius: 100px;
  /* border: 1px solid #efefef; */
  font-size: 1.6rem;
  font-family: "DM Sans";
  outline: 0;
  padding: 1.5rem 3rem;
  margin: 0;
}

::placeholder {
  color: #c0c0c0;
}

.input-group {
  width: 30rem;
  height: 5rem;
  border: 2px solid #efefef;
  border-radius: 100px;
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.input-group .input {
  border: none;
  flex-grow: 1;
  padding: 1.5rem 2.5rem;
  width: auto;
}

.input-group .icon {
  margin-right: 20px;
}

.input-group .btn {
  background-color: #2639ed;
  transition: none;
  margin-right: 7px;
}

.grid {
  display: grid;
}

.grid--1x2 {
  grid-template-columns: auto 1fr;
}

.grid--1x3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid--row-1x3 .list {
  list-style: none;
  padding-left: 0;
}

.grid--1x4 {
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.list {
  list-style: none;
  padding-left: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.container--nav {
  border-bottom: 1px solid #efefef;
}

.container__heading {
  text-transform: uppercase;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  height: 11rem;
}

.nav__brand {
  margin-top: 0px;
}

.nav__brand h3 {
  font-family: "Integral CF";
  position: relative;
  top: -10px;
}

@media screen and(min-width: 1446px) {
  .nav__brand h3 {
    font-family: "Integral CF";
    position: relative;
    top: -18px;
  }
}

.nav__menu {
  display: flex;
  align-items: center;
}

.nav__list {
  width: 100%;
  margin: 0;
  width: auto;
  font-size: 1.6rem;
  display: flex;
  max-height: 100%;
  opacity: 1;
  font-weight: 500;
}

.nav__item {
  margin: 0.5rem 4.7rem 0.5rem 0;
}

.nav__item > a {
  color: #000;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #442e2e;
}

.nav__search {
  display: flex;
  justify-content: flex-start;
  max-height: 100%;
}
.nav .btn {
  font-size: 1.4rem;
  font-weight: 700;
  height: 5rem;
  text-align: center;
  padding: 1.8rem 4rem;
  line-height: 100%;
}

.nav__list-container {
  padding-left: 35px;
  margin-left: 31px;
  border-left: 1px solid #efefef;
}

.hero {
  margin: auto 12rem;
  flex-wrap: nowrap;
  align-items: center;
  height: 62rem;
}

.hero .grid--1x2 {
  grid-template-columns: 50% 50%;
}

.hero .grid {
}

.hero .container__heading {
  font-weight: 400;
}

img {
  display: block;
}

.hero__content {
  text-align: left;
  align-self: center;
}

.hero__image_1 {
  position: absolute;
}

.hero__image_2 {
  position: absolute;
  z-index: -1;

  right: 32px;
}
.hero__image_3 {
  position: absolute;
  z-index: -2;
  right: 40px;
}

.container--amaze {
  background: var(--color--background);
}

.amaze {
  grid-template-columns: repeat(3, 1fr);
  height: 326px;
  text-align: left;
  justify-items: self-end;
  align-items: center;
}

.amaze__block {
  display: flex;
}

.amaze__heading {
  text-transform: uppercase;
  line-height: 34px;
  font-weight: bold;
}

.amaze .icon {
  width: 36px;
  height: 36px;
  margin-right: 17px;
}

.amaze__paragraph {
  font-size: 1.4rem;
}

.amaze__block h3 {
  margin-top: 6px;
}

.collectionNFT {
  height: 619px;
  background-color: var(--color--background);
  padding-top: 65px;
}
.collection {
  margin-top: 55px;
  grid-column-gap: 31px;
}

.collection__image {
  grid-column-gap: 9px;
}

.image_main {
  width: 265.85px;
  height: 272.27px;
}

.image_sub {
  width: 103.59px;
  height: 85.26px;
  margin-left: 0px;
}

.collection__image-sub {
  grid-template-rows: auto auto auto;
  grid-row-gap: 8.25px;
}

.collection__avatar {
  width: 28px;
  height: 28px;
  margin: 10px 10px 10px 0;
}

.collection__information-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.collection__information-avatar {
  /* align-content: center; */
  display: flex;
  align-items: center;
}

.collection__information-avatar p {
  display: inline-block;
}

.signup > .container {
  margin-top: 120px;
  margin-bottom: 82px;
  height: 606px;
  align-items: center;
}

.signup__image {
  position: relative;
  width: 300px;
  height: 300px;
}

.signup__image2 {
  position: relative;
  width: 240.95px;
  height: 265.04px;
  left: 364px;
  top: -160px;
}

.signup__image3 {
  position: relative;
  width: 194.55px;
  height: 214px;
  left: 105px;
  top: -200px;
}

.image__signup {
  width: 100%;
  height: 100%;
  position: relative;
}

.image__avatar {
  position: absolute;
  width: 80px;
  height: 80px;
  right: -28px;
  bottom: -34px;
  z-index: 1;
}

.signup .grid--1x2 {
  grid-template-columns: 50% 50%;
}

.signup__content {
  margin-left: 78.05px;
  align-items: center;
  position: relative;
  top: -112px;
}

.signup__content > a {
  margin-top: 32px;
}

.discoveryNFTs {
  padding-top: 62px;
  background: var(--color--background);
}

.flex {
  display: flex;
}

.flex__space-between {
  display: inline-flex;
  justify-content: space-between;
}

.flex__aligncenter {
  align-items: center;
}

.width100 {
  width: 100%;
}

.discoveryNFTs--categories__content > .btn {
  margin-right: 12px;
}

.discoveryNFTs--button__group {
  background: #dcdcdc;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin-right: 1px;
}

.discoveryNFTs--button__group .btn {
  padding: 1rem 2rem;
  color: var(--color-heading);
  background: #dcdcdc;
}

.discoveryNFTs--collection__image {
  background-color: #fff;
  border-radius: 14px;
  width: 270px;
  height: 373px;
  padding: 12px;
}

.image__main {
  width: 248px;
  height: 223px;
  /* margin: 11px 11px auto 11px; */
}

.image__1 {
  position: absolute;
}

.image__header {
  position: relative;
}

.img__containter {
  position: absolute;
  transform: translateX(12px);
  transform: translateY(-50%);
}

.discoveryNFTs--collection {
  margin-top: 40px;
}

.discoveryNFTs--collection__content {
  padding: auto 22px auto 10px;
}

.discoveryNFTs--collection__footer {
  border-top: 1px solid #efefef;
}

.footer__time {
  font-size: 11px;
  border-radius: 40px;
  background: #f5f5f5;
  color: #4f33a3;
  outline: 0;
  padding: 4px 11px;
  text-align: center;
  white-space: nowrap;
}

.footer {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 11px;
}

.discoveryNFTs--footer {
  margin-top: 55px;
  justify-content: center;
}
