<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../CSS/normalize.css" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>

  <body>
    <div class="container container--amaze">
      <div class="grid grid--1x3 amaze">
        <h2 class="amaze__heading">The amazing NFT art of the world here</h2>
        <div class="amaze__block">
          <svg class="icon icon--black">
            <use xlink:href="../images/sprite.svg#card_tick"></use>
          </svg>
          <div>
            <h3>Fast Transaction</h3>
            <p class="amaze__paragraph" style="width: 250px">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
              etiam viverra tellus imperdiet.
            </p>
          </div>
        </div>
        <div class="amaze__block">
          <svg class="icon icon--black">
            <use xlink:href="../images/sprite.svg#chart_square"></use>
          </svg>
          <div>
            <h3>Growth Transaction</h3>
            <p class="amaze__paragraph" style="width: 311px">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
              etiam viverra tellus
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
