<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../CSS/normalize.css" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>

  <body>
    <section class="collectionNFT">
      <div class="container">
        <header>
          <h2>Collection Featured NFTs</h2>
        </header>
        <div class="collection grid grid--1x3">
          <div class="collection__item">
            <div class="collection__image grid grid--1x2">
              <picture class="collection__image-main">
                <source type="image/webp" srcset="../images/Art_main.webp" />
                <source type="image/png" srcset="../images/Art_main.png" />
                <img class="image_main" src="../images/Art_main_2.png" alt="" />
              </picture>
              <div class="collection__image-sub grid">
                <picture>
                  <source
                    type="image/webp"
                    srcset="../images/Art_sub_collection1.webp"
                  />
                  <source
                    type="image/png"
                    srcset="../images/Art_sub_collection1.png"
                  />
                  <img
                    class="image_sub"
                    src="../images/Art_sub_collection1.png"
                    alt=""
                  />
                </picture>
                <picture>
                  <source
                    type="image/webp"
                    srcset="../images/Art_sub_collection2.webp"
                  />
                  <source
                    type="image/png"
                    srcset="../images/Art_sub_collection2.png"
                  />
                  <img
                    class="image_sub"
                    src="../images/Art_sub_collection2.png"
                    alt=""
                  />
                </picture>
                <picture>
                  <source
                    type="image/webp"
                    srcset="../images/Art_sub_collection2.webp"
                  />
                  <source
                    type="image/png"
                    srcset="../images/Art_sub_collection2.png"
                  />
                  <img
                    class="image_sub"
                    src="../images/Art_sub_collection2.png"
                    alt=""
                  />
                </picture>
              </div>
            </div>
            <div class="collection__information">
              <h3 style="font-weight: bold">Amazing Collection</h3>
              <div class="collection__information-footer">
                <div class="collection__information-avatar">
                  <picture>
                    <source
                      type="image/png"
                      srcset="../images/Avatar_arkhan17.png"
                    />
                    <img
                      style="display: inline-block"
                      class="collection__avatar"
                      src="../images/Avatar_arkhan17.png"
                      alt="Avatar"
                    />
                  </picture>
                  <p>by Arkhan</p>
                </div>
                <div class="btn btn--small btn--categories-normal">
                  Total 54 Items
                </div>
              </div>
            </div>
          </div>
          <div class="collection__item">
            <div class="collection__image grid grid--1x2">
              <picture class="collection__image-main">
                <source type="image/webp" srcset="../images/Art_main.webp" />
                <source type="image/png" srcset="../images/Art_main.png" />
                <img class="image_main" src="../images/Art_main_2.png" alt="" />
              </picture>
              <div class="collection__image-sub grid">
                <picture>
                  <source
                    type="image/webp"
                    srcset="../images/Art_sub_collection1.webp"
                  />
                  <source
                    type="image/png"
                    srcset="../images/Art_sub_collection1.png"
                  />
                  <img
                    class="image_sub"
                    src="../images/Art_sub_collection1.png"
                    alt=""
                  />
                </picture>
                <picture>
                  <source
                    type="image/webp"
                    srcset="../images/Art_sub_collection2.webp"
                  />
                  <source
                    type="image/png"
                    srcset="../images/Art_sub_collection2.png"
                  />
                  <img
                    class="image_sub"
                    src="../images/Art_sub_collection2.png"
                    alt=""
                  />
                </picture>
                <picture>
                  <source
                    type="image/webp"
                    srcset="../images/Art_sub_collection2.webp"
                  />
                  <source
                    type="image/png"
                    srcset="../images/Art_sub_collection2.png"
                  />
                  <img
                    class="image_sub"
                    src="../images/Art_sub_collection2.png"
                    alt=""
                  />
                </picture>
              </div>
            </div>
            <div class="collection__information">
              <h3 style="font-weight: bold">Amazing Collection</h3>
              <div class="collection__information-footer">
                <div class="collection__information-avatar">
                  <picture>
                    <source
                      type="image/png"
                      srcset="../images/Avatar_arkhan17.png"
                    />
                    <img
                      style="display: inline-block"
                      class="collection__avatar"
                      src="../images/Avatar_arkhan17.png"
                      alt="Avatar"
                    />
                  </picture>
                  <p>by Arkhan</p>
                </div>
                <div class="btn btn--small btn--categories-normal">
                  Total 54 Items
                </div>
              </div>
            </div>
          </div>
          <div class="collection__item">
            <div class="collection__image grid grid--1x2">
              <picture class="collection__image-main">
                <source type="image/webp" srcset="../images/Art_main.webp" />
                <source type="image/png" srcset="../images/Art_main.png" />
                <img class="image_main" src="../images/Art_main_2.png" alt="" />
              </picture>
              <div class="collection__image-sub grid">
                <picture>
                  <source
                    type="image/webp"
                    srcset="../images/Art_sub_collection1.webp"
                  />
                  <source
                    type="image/png"
                    srcset="../images/Art_sub_collection1.png"
                  />
                  <img
                    class="image_sub"
                    src="../images/Art_sub_collection1.png"
                    alt=""
                  />
                </picture>
                <picture>
                  <source
                    type="image/webp"
                    srcset="../images/Art_sub_collection2.webp"
                  />
                  <source
                    type="image/png"
                    srcset="../images/Art_sub_collection2.png"
                  />
                  <img
                    class="image_sub"
                    src="../images/Art_sub_collection2.png"
                    alt=""
                  />
                </picture>
                <picture>
                  <source
                    type="image/webp"
                    srcset="../images/Art_sub_collection2.webp"
                  />
                  <source
                    type="image/png"
                    srcset="../images/Art_sub_collection2.png"
                  />
                  <img
                    class="image_sub"
                    src="../images/Art_sub_collection2.png"
                    alt=""
                  />
                </picture>
              </div>
            </div>
            <div class="collection__information">
              <h3 style="font-weight: bold">Amazing Collection</h3>
              <div class="collection__information-footer">
                <div class="collection__information-avatar">
                  <picture>
                    <source
                      type="image/png"
                      srcset="../images/Avatar_arkhan17.png"
                    />
                    <img
                      style="display: inline-block"
                      class="collection__avatar"
                      src="../images/Avatar_arkhan17.png"
                      alt="Avatar"
                    />
                  </picture>
                  <p>by Arkhan</p>
                </div>
                <div class="btn btn--small btn--categories-normal">
                  Total 54 Items
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
