<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../CSS/normalize.css" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>

  <body>
    <footer class="footer">
      <div class="container">
        <div class="grid grid--1x3 footer--container">
          <div class="footer--NTFER">
            <h2 style="margin-top: 0px">NFTERS</h2>
            <div class="">
              <span style="color: #565656; font-size: 14px"
                >The world’s first and largest digital marketplace for crypto
                collectibles and non-fungible tokens (NFTs). Buy, sell, and
                discover exclusive digital items.</span
              >
            </div>
            <div class="NTFER__icon">
              <svg class="icon">
                <use xlink:href="../images/sprite.svg#fb"></use>
              </svg>
              <svg class="icon">
                <use xlink:href="../images/sprite.svg#twitter"></use>
              </svg>
              <svg class="icon">
                <use xlink:href="../images/sprite.svg#linkedin"></use>
              </svg>
            </div>
          </div>
          <div class="grid grid--1x2">
            <div>
              <h3>Marketplace</h3>
              <div class="">
                <ul class="list">
                  <li class="nav__item"><a href="#">All NFTs</a></li>
                  <li class="nav__item"><a href="#">New</a></li>
                  <li class="nav__item"><a href="#">Art</a></li>
                  <li class="nav__item"><a href="#">Sports</a></li>
                  <li class="nav__item"><a href="#">Utility</a></li>
                  <li class="nav__item"><a href="#">Music</a></li>
                  <li class="nav__item"><a href="#">Domain Name</a></li>
                </ul>
              </div>
            </div>

            <div>
              <h3>My Account</h3>
              <div class="">
                <ul class="list">
                  <li class="nav__item"><a href="#">Profile</a></li>
                  <li class="nav__item"><a href="#">Favorite</a></li>
                  <li class="nav__item"><a href="#">My Collections</a></li>
                  <li class="nav__item"><a href="#">Settings</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div>
            <h3>Stay in the loop</h3>
            <div class="">
              <span
                >Join our mailing list to stay in the loop with our newest
                feature releases, NFT drops, and tips and tricks for navigating
                NFTs.</span
              >
            </div>
            <div class="input-group">
              <input
                type="text"
                class="input"
                placeholder="Enter your email address.."
              />
              <button class="btn btn--secondary btn--small">
                Subcribe Now
              </button>
            </div>
          </div>
        </div>
        <div class="footer--copyright">Copyright © 2022 Avi Yansah</div>
      </div>
    </footer>
  </body>
</html>
