<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../CSS/normalize.css" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>

  <body>
    <div class="hero">
      <div class="container grid grid--1x2">
        <header class="hero__content">
          <h1 class="container__heading">
            Discover, and collect Digital Art NFTs
          </h1>
          <p>
            Digital marketplace for crypto collectibles and non-fungible tokens
            (NFTs). Buy, Sell, and discover exclusive digital assets.
          </p>
          <a href="#" class="btn btn--secondary">Explore Now</a>
          <picture>
            <source type="image/webp" srcset="../images/Dot.webp" />
            <source type="image/png" srcset="../images/Dot.png" />
            <img class="hero__image" src="../images/Dot.png" alt="" />
          </picture>
        </header>
        <div class="hero__image">
          <picture>
            <source type="image/webp" srcset="../images/AbstrGradient.webp" />
            <source type="image/png" srcset="../images/AbstrGradient.png" />
            <img
              class="hero__image_1"
              src="../images/AbstrGradient_2.png"
              alt=""
            />
          </picture>
          <picture>
            <source type="image/webp" srcset="../images/AbstrGradient_2.webp" />
            <source type="image/png" srcset="../images/AbstrGradient_2.png" />
            <img
              class="hero__image_2"
              src="../images/AbstrGradient_2.png"
              alt=""
            />
          </picture>
          <picture>
            <source type="image/webp" srcset="../images/AbstrGradient_3.webp" />
            <source type="image/png" srcset="../images/AbstrGradient_3.png" />
            <img
              class="hero__image_3"
              src="../images/AbstrGradient_2.png"
              alt=""
            />
          </picture>
        </div>
      </div>
    </div>
  </body>
</html>
