<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../CSS/normalize.css" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>

  <body>
    <nav class="container container--nav">
      <div class="nav">
        <div class="nav__menu">
          <a href="#" class="nav__brand"
            ><h3 style="color: #3d00b7; font-size: 2.4rem">NFTERS</h3></a
          >
          <div class="nav__list-container">
            <ul class="list nav__list">
              <li class="nav__item"><a href="#">Marketplace</a></li>
              <li class="nav__item"><a href="#">Resource</a></li>
              <li class="nav__item"><a href="#">About</a></li>
            </ul>
          </div>
        </div>
        <div class="nav__search">
          <div class="input-group">
            <input type="text" class="input" placeholder="Search" />
            <svg class="icon icon--normal">
              <use xlink:href="../images/sprite.svg#search"></use>
            </svg>
          </div>
          <a href="#" class="btn btn--secondary" style="margin-right: 20px"
            >Upload</a
          >
          <a href="#" class="btn btn--normal">Connect Wallet</a>
        </div>
      </div>
    </nav>
  </body>
</html>
