<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../CSS/normalize.css" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>

  <body>
    <section class="signup">
      <div class="container container--signup grid grid--1x2">
        <div class="signup__image-group">
          <div class="signup__image">
            <picture>
              <source
                type="image/webp"
                srcset="../images/Art_sub_collection2_1.webp"
              />
              <source
                type="image/png"
                srcset="../images/Art_sub_collection2_1.png"
              />
              <img
                class="image__signup"
                src="../images/Art_sub_collection2_1.png"
                alt=""
              />
            </picture>
            <picture>
              <img
                class="image__avatar"
                src="../images/Avatar_arkhan17.png"
                alt=""
              />
            </picture>
          </div>
          <div class="signup__image2">
            <picture>
              <source
                type="image/webp"
                srcset="../images/Art_sub_collection2_1.webp"
              />
              <source
                type="image/png"
                srcset="../images/Art_sub_collection2_1.png"
              />
              <img
                class="image__signup"
                src="../images/Art_sub_collection2_1.png"
                alt=""
              />
            </picture>
            <picture>
              <img
                class="image__avatar"
                src="../images/Avatar_arkhan17.png"
                alt=""
              />
            </picture>
          </div>
          <div class="signup__image3">
            <picture>
              <source
                type="image/webp"
                srcset="../images/Art_sub_collection2_1.webp"
              />
              <source
                type="image/png"
                srcset="../images/Art_sub_collection2_1.png"
              />
              <img
                class="image__signup"
                src="../images/Art_sub_collection2_1.png"
                alt=""
              />
            </picture>
            <picture>
              <img
                class="image__avatar"
                src="../images/Avatar_arkhan17.png"
                alt=""
              />
            </picture>
          </div>
        </div>
        <div class="signup__content">
          <div style="margin-bottom: 52px">
            <h2 style="font-size: 32px">Create and sell your NFTs</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Facilisiac phasellus placerat a pellentesque tellus sed egestas.
              Et tristique dictum sit tristique sed non. Lacinia lorem id
              consectetur pretium diam ut. Pellentesque eu sit blandit fringilla
              risus faucibus.
            </p>
          </div>
          <div>
            <a href="#" class="btn btn--secondary">Sign Up Now</a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
